{% if site.navigation_footer %}
<nav class="nav  nav--footer">
    <ul class="list list--nav">
        {% for item in site.navigation_footer %}

        {% if item[1].url contains '://' %}
        {% assign url = item[1].url %}
        {% else %}
        {% assign url = item[1].url | relative_url %}
        {% endif %}

        <li class="item  item--nav{% if item[1].url == page.url %}  item--current{% endif %}">
            <a href="{{ url }}" title="{{ item[0] }}"><i class="mdi mdi-24px mdi-{{ item[1].icon }}"></i></a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% else %}
{% include nav-default.html %}
{% endif %}